[submodule "Graphic & Gaming/scop"]
	path = Graphic & Gaming/scop
	url = git@github.com:drabiot/scop
[submodule "Graphics & Gaming/scop"]
	path = Graphics & Gaming/scop
	url = git@github.com:drabiot/scop.git
[submodule "Algo & IA & Data/ft_linear_regression"]
	path = Algo & IA & Data/ft_linear_regression
	url = git@github.com:drabiot/ft_linear_regression
[submodule "Low Level/libasm"]
	path = Low Level/libasm
	url = git@github.com:drabiot/libasm.git
[submodule "Algo & IA & Data/Matrix"]
	path = Algo & IA & Data/Matrix
	url = git@github.com:drabiot/matrix.git
